
<html>

  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <body>
    <div class='container' >

      <h1>Welcome To WordCounter</h1>

      <p>
        Welcome!  This is my word counter splash page!<br>
        Press Start if you'd like to continue.
      </p>

      <!-- <form action="/Items"> -->
      <form action="/Form">
        <button type="click" class="btn btn-info">Start</a>
      </form>

    </div>
  </body>

</html>
